= form_for [:admin ,@employee ] , class: 'form-horizontal form-groups-bordered validate' do |f|
  .row
    .col-md-12
      .panel.panel-primary{"data-collapsed" => "0"}
        .panel-heading
          .panel-title
            Employee Details
          .panel-options
            %a{"data-rel" => "collapse", :href => "#"}
              %i.entypo-down-open
            %a{"data-rel" => "reload", :href => "#"}
              %i.entypo-arrows-ccw
        .panel-body{:style => "display: block;"}
          .form-group
            %label.col-sm-2.control-label.text-right{:for => "field-1"} First name
            .col-sm-10
              =f.text_field :first_name , class: 'form-control' , placeholder: 'Enter your first name'
          .form-group
            %label.col-sm-2.control-label.text-right{:for => "field-1"} Last name
            .col-sm-10
              =f.text_field :last_name , class: 'form-control' , placeholder: 'Enter your Last name'
          .form-group
            %label.col-sm-2.control-label.text-right{:for => "field-1"} Email
            .col-sm-10
              =f.email_field :email , class: 'form-control' , placeholder: 'Enter your Email Address'
  .form-group.default-padding.pull-right
    = f.submit "Save Changes" , class: 'btn btn-success'
    %button.btn{:type => "reset"} Reset Previous
