%ol.breadcrumb.bc-2.hidden-print
  %li
    %a{:href => "index.html"}
      %i.fa-home>
      Home
  %li
    %a{:href => "extra-icons.html"} Extra
  %li.active
    %strong Invoice
%br.hidden-print/
.invoice
  .row
    .col-sm-6.invoice-left
      %a{:href => "#"}
        %img{:alt => "", :src => "assets/images/laborator@2x.png", :width => "185"}/
    .col-sm-6.invoice-right
      %h3 INVOICE NO. #"#{@invoice.identifier}"
      %span= @invoice.formated_due_date
  %hr.margin/
  .row
    .col-sm-3.invoice-left
      %h4 Client
      John Doe
      %br/
      Mr Nilson Otto
      %br/
      FoodMaster Ltd
    .col-sm-3.invoice-left
      %h4  
      1982 OOP
      %br/
      Madrid, Spain
      %br/
      +1 (151) 225-4183
    .col-md-6.invoice-right
      %h4 Payment Details:
      %strong V.A.T Reg #:
      542554(DEMO)78
      %br/
      %strong Account Name:
      FoodMaster Ltd
      %br/
      %strong SWIFT code:
      45454DEMO545DEMO
  .margin
  %table.table.table-bordered
    %thead
      %tr
        %th.text-center #
        %th{:width => "60%"} Product
        %th Quantity
        %th Price
    %tbody
      %tr
        %td.text-center 1
        %td On am we offices expense thought
        %td 1
        %td.text-right $1,290
      %tr
        %td.text-center 2
        %td Up do view time they shot
        %td 1
        %td.text-right $400
      %tr
        %td.text-center 3
        %td Way ham unwilling not breakfast
        %td 1
        %td.text-right $550
      %tr
        %td.text-center 4
        %td Songs to an blush woman be sorry
        %td 1
        %td.text-right $4020
      %tr
        %td.text-center 5
        %td Luckily offered article led lasting
        %td 1
        %td.text-right $87
      %tr
        %td.text-center 6
        %td Of as by belonging therefore suspicion
        %td 1
        %td.text-right $140
  .margin
  .row
    .col-sm-6
      .invoice-left
        795 Park Ave, Suite 120
        %br/
        San Francisco, CA 94107
        %br/
        P: (234) 145-1810
        %br/
        Full Name
        %br/
        info@northwalescleaning.com
    .col-sm-6
      .invoice-right
        %ul.list-unstyled
          %li
            Sub - Total amount:
            %strong $6,487
          %li
            VAT:
            %strong 12.9%
          %li
            Discount:
            \-----
          %li
            Grand Total:
            %strong $7,304
        %br/
        %a.btn.btn-primary.btn-icon.icon-left.hidden-print{:href => "javascript:window.print();"}
          Print Invoice
          %i.entypo-doc-text
         
        %a.btn.btn-success.btn-icon.icon-left.hidden-print{:href => "mailbox-compose.html"}
          Send Invoice
          %i.entypo-mail
