.row
  .col-sm-3.col-xs-6
    .tile-stats.tile-red
      .icon
        %i.entypo-users
      .num{"data-delay" => "0", "data-duration" => "1500", "data-end" => "#{Employee.all.count}", "data-postfix" => "", "data-start" => "0"}= Employee.all.count
      %h3 Employees
      %p so far in our blog, and our website.
  .col-sm-3.col-xs-6
    .tile-stats.tile-green
      .icon
        %i.entypo-chart-bar
      .num{"data-delay" => "600", "data-duration" => "1500", "data-end" => "135", "data-postfix" => "", "data-start" => "0"} 135
      %h3 Customers
      %p this is the average value.
  .clear.visible-xs
  .col-sm-3.col-xs-6
    .tile-stats.tile-aqua
      .icon
        %i.entypo-mail
      .num{"data-delay" => "1200", "data-duration" => "1500", "data-end" => "23", "data-postfix" => "", "data-start" => "0"} 23
      %h3 New Messages
      %p messages per day.
  .col-sm-3.col-xs-6
    .tile-stats.tile-blue
      .icon
        %i.entypo-rss
      .num{"data-delay" => "1800", "data-duration" => "1500", "data-end" => "52", "data-postfix" => "", "data-start" => "0"} 52
      %h3 Subscribers
      %p on our site right now.