.modal.fade{id: "#{@event.new_record? ? 'new_event' : 'edit_event'}"}
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title #{@event.new_record? ? 'Create Event' : 'Edit Event'}
      .modal-body
        = render 'backend/admin/events/partials/wizard'
