.calendar-env
  / Calendar Body
  .calendar-body
    #calendar.fc.fc-ltr.fc-unthemed
      .fc-toolbar
        .fc-left
          %h2 June 2017
        .fc-right
          .fc-button-group
            %button.fc-month-button.fc-button.fc-state-default.fc-corner-left.fc-state-active{:type => "button"} month
            %button.fc-agendaWeek-button.fc-button.fc-state-default{:type => "button"} week
            %button.fc-agendaDay-button.fc-button.fc-state-default.fc-corner-right{:type => "button"} day
          %button.fc-today-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right.fc-state-disabled{:disabled => "disabled", :type => "button"} today
          .fc-button-group
            %button.fc-prev-button.fc-button.fc-state-default.fc-corner-left{:type => "button"}
              %span.fc-icon.fc-icon-left-single-arrow
            %button.fc-next-button.fc-button.fc-state-default.fc-corner-right{:type => "button"}
              %span.fc-icon.fc-icon-right-single-arrow
        .fc-center
        .fc-clear
      .fc-view-container{:style => ""}
        .fc-view.fc-month-view.fc-basic-view
          %table
            %thead
              %tr
                %td.fc-widget-header
                  .fc-row.fc-widget-header
                    %table
                      %thead
                        %tr
                          %th.fc-day-header.fc-widget-header.fc-mon Mon
                          %th.fc-day-header.fc-widget-header.fc-tue Tue
                          %th.fc-day-header.fc-widget-header.fc-wed Wed
                          %th.fc-day-header.fc-widget-header.fc-thu Thu
                          %th.fc-day-header.fc-widget-header.fc-fri Fri
                          %th.fc-day-header.fc-widget-header.fc-sat Sat
                          %th.fc-day-header.fc-widget-header.fc-sun Sun
            %tbody
              %tr
                %td.fc-widget-content
                  .fc-day-grid-container
                    .fc-day-grid
                      .fc-row.fc-week.fc-widget-content{:style => "height: 83px;"}
                        .fc-bg
                          %table
                            %tbody
                              %tr
                                %td.fc-day.fc-widget-content.fc-mon.fc-other-month.fc-past{"data-date" => "2017-05-29"}
                                %td.fc-day.fc-widget-content.fc-tue.fc-other-month.fc-past{"data-date" => "2017-05-30"}
                                %td.fc-day.fc-widget-content.fc-wed.fc-other-month.fc-past{"data-date" => "2017-05-31"}
                                %td.fc-day.fc-widget-content.fc-thu.fc-past{"data-date" => "2017-06-01"}
                                %td.fc-day.fc-widget-content.fc-fri.fc-past{"data-date" => "2017-06-02"}
                                %td.fc-day.fc-widget-content.fc-sat.fc-past{"data-date" => "2017-06-03"}
                                %td.fc-day.fc-widget-content.fc-sun.fc-past{"data-date" => "2017-06-04"}
                        .fc-content-skeleton
                          %table
                            %thead
                              %tr
                                %td.fc-day-number.fc-mon.fc-other-month.fc-past{"data-date" => "2017-05-29"} 29
                                %td.fc-day-number.fc-tue.fc-other-month.fc-past{"data-date" => "2017-05-30"} 30
                                %td.fc-day-number.fc-wed.fc-other-month.fc-past{"data-date" => "2017-05-31"} 31
                                %td.fc-day-number.fc-thu.fc-past{"data-date" => "2017-06-01"} 1
                                %td.fc-day-number.fc-fri.fc-past{"data-date" => "2017-06-02"} 2
                                %td.fc-day-number.fc-sat.fc-past{"data-date" => "2017-06-03"} 3
                                %td.fc-day-number.fc-sun.fc-past{"data-date" => "2017-06-04"} 4
                            %tbody
                              %tr
                                %td
                                %td
                                %td
                                %td
                                %td
                                %td
                                %td
                      .fc-row.fc-week.fc-widget-content{:style => "height: 83px;"}
                        .fc-bg
                          %table
                            %tbody
                              %tr
                                %td.fc-day.fc-widget-content.fc-mon.fc-past{"data-date" => "2017-06-05"}
                                %td.fc-day.fc-widget-content.fc-tue.fc-past{"data-date" => "2017-06-06"}
                                %td.fc-day.fc-widget-content.fc-wed.fc-past{"data-date" => "2017-06-07"}
                                %td.fc-day.fc-widget-content.fc-thu.fc-past{"data-date" => "2017-06-08"}
                                %td.fc-day.fc-widget-content.fc-fri.fc-past{"data-date" => "2017-06-09"}
                                %td.fc-day.fc-widget-content.fc-sat.fc-past{"data-date" => "2017-06-10"}
                                %td.fc-day.fc-widget-content.fc-sun.fc-today.fc-state-highlight{"data-date" => "2017-06-11"}
                        .fc-content-skeleton
                          %table
                            %thead
                              %tr
                                %td.fc-day-number.fc-mon.fc-past{"data-date" => "2017-06-05"} 5
                                %td.fc-day-number.fc-tue.fc-past{"data-date" => "2017-06-06"} 6
                                %td.fc-day-number.fc-wed.fc-past{"data-date" => "2017-06-07"} 7
                                %td.fc-day-number.fc-thu.fc-past{"data-date" => "2017-06-08"} 8
                                %td.fc-day-number.fc-fri.fc-past{"data-date" => "2017-06-09"} 9
                                %td.fc-day-number.fc-sat.fc-past{"data-date" => "2017-06-10"} 10
                                %td.fc-day-number.fc-sun.fc-today.fc-state-highlight{"data-date" => "2017-06-11"} 11
                            %tbody
                              %tr
                                %td
                                %td
                                %td
                                %td
                                %td
                                %td
                                %td
                      .fc-row.fc-week.fc-widget-content{:style => "height: 83px;"}
                        .fc-bg
                          %table
                            %tbody
                              %tr
                                %td.fc-day.fc-widget-content.fc-mon.fc-future{"data-date" => "2017-06-12"}
                                %td.fc-day.fc-widget-content.fc-tue.fc-future{"data-date" => "2017-06-13"}
                                %td.fc-day.fc-widget-content.fc-wed.fc-future{"data-date" => "2017-06-14"}
                                %td.fc-day.fc-widget-content.fc-thu.fc-future{"data-date" => "2017-06-15"}
                                %td.fc-day.fc-widget-content.fc-fri.fc-future{"data-date" => "2017-06-16"}
                                %td.fc-day.fc-widget-content.fc-sat.fc-future{"data-date" => "2017-06-17"}
                                %td.fc-day.fc-widget-content.fc-sun.fc-future{"data-date" => "2017-06-18"}
                        .fc-content-skeleton
                          %table
                            %thead
                              %tr
                                %td.fc-day-number.fc-mon.fc-future{"data-date" => "2017-06-12"} 12
                                %td.fc-day-number.fc-tue.fc-future{"data-date" => "2017-06-13"} 13
                                %td.fc-day-number.fc-wed.fc-future{"data-date" => "2017-06-14"} 14
                                %td.fc-day-number.fc-thu.fc-future{"data-date" => "2017-06-15"} 15
                                %td.fc-day-number.fc-fri.fc-future{"data-date" => "2017-06-16"} 16
                                %td.fc-day-number.fc-sat.fc-future{"data-date" => "2017-06-17"} 17
                                %td.fc-day-number.fc-sun.fc-future{"data-date" => "2017-06-18"} 18
                            %tbody
                              %tr
                                %td
                                %td
                                %td
                                %td
                                %td
                                %td
                                %td
                      .fc-row.fc-week.fc-widget-content{:style => "height: 83px;"}
                        .fc-bg
                          %table
                            %tbody
                              %tr
                                %td.fc-day.fc-widget-content.fc-mon.fc-future{"data-date" => "2017-06-19"}
                                %td.fc-day.fc-widget-content.fc-tue.fc-future{"data-date" => "2017-06-20"}
                                %td.fc-day.fc-widget-content.fc-wed.fc-future{"data-date" => "2017-06-21"}
                                %td.fc-day.fc-widget-content.fc-thu.fc-future{"data-date" => "2017-06-22"}
                                %td.fc-day.fc-widget-content.fc-fri.fc-future{"data-date" => "2017-06-23"}
                                %td.fc-day.fc-widget-content.fc-sat.fc-future{"data-date" => "2017-06-24"}
                                %td.fc-day.fc-widget-content.fc-sun.fc-future{"data-date" => "2017-06-25"}
                        .fc-content-skeleton
                          %table
                            %thead
                              %tr
                                %td.fc-day-number.fc-mon.fc-future{"data-date" => "2017-06-19"} 19
                                %td.fc-day-number.fc-tue.fc-future{"data-date" => "2017-06-20"} 20
                                %td.fc-day-number.fc-wed.fc-future{"data-date" => "2017-06-21"} 21
                                %td.fc-day-number.fc-thu.fc-future{"data-date" => "2017-06-22"} 22
                                %td.fc-day-number.fc-fri.fc-future{"data-date" => "2017-06-23"} 23
                                %td.fc-day-number.fc-sat.fc-future{"data-date" => "2017-06-24"} 24
                                %td.fc-day-number.fc-sun.fc-future{"data-date" => "2017-06-25"} 25
                            %tbody
                              %tr
                                %td
                                %td
                                %td
                                %td
                                %td
                                %td
                                %td
                      .fc-row.fc-week.fc-widget-content{:style => "height: 83px;"}
                        .fc-bg
                          %table
                            %tbody
                              %tr
                                %td.fc-day.fc-widget-content.fc-mon.fc-future{"data-date" => "2017-06-26"}
                                %td.fc-day.fc-widget-content.fc-tue.fc-future{"data-date" => "2017-06-27"}
                                %td.fc-day.fc-widget-content.fc-wed.fc-future{"data-date" => "2017-06-28"}
                                %td.fc-day.fc-widget-content.fc-thu.fc-future{"data-date" => "2017-06-29"}
                                %td.fc-day.fc-widget-content.fc-fri.fc-future{"data-date" => "2017-06-30"}
                                %td.fc-day.fc-widget-content.fc-sat.fc-other-month.fc-future{"data-date" => "2017-07-01"}
                                %td.fc-day.fc-widget-content.fc-sun.fc-other-month.fc-future{"data-date" => "2017-07-02"}
                        .fc-content-skeleton
                          %table
                            %thead
                              %tr
                                %td.fc-day-number.fc-mon.fc-future{"data-date" => "2017-06-26"} 26
                                %td.fc-day-number.fc-tue.fc-future{"data-date" => "2017-06-27"} 27
                                %td.fc-day-number.fc-wed.fc-future{"data-date" => "2017-06-28"} 28
                                %td.fc-day-number.fc-thu.fc-future{"data-date" => "2017-06-29"} 29
                                %td.fc-day-number.fc-fri.fc-future{"data-date" => "2017-06-30"} 30
                                %td.fc-day-number.fc-sat.fc-other-month.fc-future{"data-date" => "2017-07-01"} 1
                                %td.fc-day-number.fc-sun.fc-other-month.fc-future{"data-date" => "2017-07-02"} 2
                            %tbody
                              %tr
                                %td
                                %td
                                %td
                                %td
                                %td
                                %td
                                %td
                      .fc-row.fc-week.fc-widget-content{:style => "height: 87px;"}
                        .fc-bg
                          %table
                            %tbody
                              %tr
                                %td.fc-day.fc-widget-content.fc-mon.fc-other-month.fc-future{"data-date" => "2017-07-03"}
                                %td.fc-day.fc-widget-content.fc-tue.fc-other-month.fc-future{"data-date" => "2017-07-04"}
                                %td.fc-day.fc-widget-content.fc-wed.fc-other-month.fc-future{"data-date" => "2017-07-05"}
                                %td.fc-day.fc-widget-content.fc-thu.fc-other-month.fc-future{"data-date" => "2017-07-06"}
                                %td.fc-day.fc-widget-content.fc-fri.fc-other-month.fc-future{"data-date" => "2017-07-07"}
                                %td.fc-day.fc-widget-content.fc-sat.fc-other-month.fc-future{"data-date" => "2017-07-08"}
                                %td.fc-day.fc-widget-content.fc-sun.fc-other-month.fc-future{"data-date" => "2017-07-09"}
                        .fc-content-skeleton
                          %table
                            %thead
                              %tr
                                %td.fc-day-number.fc-mon.fc-other-month.fc-future{"data-date" => "2017-07-03"} 3
                                %td.fc-day-number.fc-tue.fc-other-month.fc-future{"data-date" => "2017-07-04"} 4
                                %td.fc-day-number.fc-wed.fc-other-month.fc-future{"data-date" => "2017-07-05"} 5
                                %td.fc-day-number.fc-thu.fc-other-month.fc-future{"data-date" => "2017-07-06"} 6
                                %td.fc-day-number.fc-fri.fc-other-month.fc-future{"data-date" => "2017-07-07"} 7
                                %td.fc-day-number.fc-sat.fc-other-month.fc-future{"data-date" => "2017-07-08"} 8
                                %td.fc-day-number.fc-sun.fc-other-month.fc-future{"data-date" => "2017-07-09"} 9
                            %tbody
                              %tr
                                %td
                                %td
                                %td
                                %td
                                %td
                                %td
                                %td
  / Sidebar
  .calendar-sidebar
    / new task form
    .calendar-sidebar-row
      %form#add_event_form{:role => "form"}
        .input-group.minimal
          %input.form-control{:placeholder => "Add event...", :type => "text"}/
          .input-group-addon
            %i.entypo-pencil
    / Events List
    %ul#draggable_events.events-list
      %li
        %p Drag Events to Calendar Dates
      %li
        %a.ui-draggable{:href => "#", :style => "position: relative;"} Sport Match
      %li
        %a.color-blue.ui-draggable{"data-event-class" => "color-blue", :href => "#", :style => "position: relative;"} Meeting
      %li
        %a.color-orange.ui-draggable{"data-event-class" => "color-orange", :href => "#", :style => "position: relative;"} Relax
      %li
        %a.color-primary.ui-draggable{"data-event-class" => "color-primary", :href => "#", :style => "position: relative;"} Study
      %li
        %a.color-green.ui-draggable{"data-event-class" => "color-green", :href => "#", :style => "position: relative;"} Family Time
