# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 517c12637233be2df3dbba7e17fc026b8927033a6c3094191968b6c0108a7a2bc2482ebdd342a5c2bb34ecc894dcc3f5021d996ae5fc80ce5f9a6687c5cc0aca

test:
  secret_key_base: 9e8f3f2c8d8a8c44a3157c9c4abd2e63c3d7a5a8db74fc756829978e10d4d0551d14d968927ae159a097aa6fbae6032c1079b24ca719ae81b6aa94f969a048e0

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
