- content_for :stylesheets do
  :css
    .main-min {
      width: 600px;
    }
    .ml28 {
      margin-left: 28px;
    }
    .fleft {
      float: left;
    }
    .pos-rel {
      position: relative;
    }
    .min130 {
      min-width: 130px;
      display: inline-block;
    }
    .mr10 {
      margin-right: 10px;
    }
    .fleft {
      float: left;
    }
    .cost-item-price-block {
      position: absolute;
      text-align: center;
      z-index: 5;
      right: -1.5%;
      top: 10px;
      min-width: 100px;
    }
    .cost-item-price-block span {
      background-color: #808080;
      padding: 1px 10px;
      color: #fff;
      font-size: 40px;
      font-weight: 100;
      display: block;
    }
    .fontf6 {
      color: #f16522;
    }
    .font-bold {
      font-weight: 600;
    }
    .mt5 {
      margin-top: 5px;
    }
    .dis-iblock {
      display: inline-block;
    }
    a {
      text-decoration: none;
      font-family: 'proxima-nova', helvetica;
    }
    .mb12 {
      margin-bottom: 12px;
    }
    .full-width {
      width: 100%;
      float: left;
      position: relative;
    }
    .item-name-content {
      max-width: 410px;
    }
    .actual-h2 {
      font-size: 25px;
      color: #4d4d4d;
      font-weight: 300;
    }
    .mb16 {
      margin-bottom: 16px;
    }
    .font80 {
      color: #808080;
    }
    .mr10 {
      margin-right: 10px;
    }
    .font-bold {
      font-weight: 600;
    }
    .mb22 {
      margin-bottom: 22px;
    }
    .mt20 {
      margin-top: 20px;
    }
    .full99line {
      height: 1px;
      float: left;
      background-color: #e6e6e6;
      width: 100%;
    }
.profile-env
  %section.profile-info-tabs
    .row
      .col-sm-offset-1.col-sm-11
        %ul.nav.nav-tabs
          %li
            %a{:href => "#quotes"} Quotes
          %li.active
            %a{:href => "#jobs"} Jobs
          %li
            %a{:href => "#invoices"} Invoices

.full-width.fleft.mt30{:style => "background-color: #fff!important"}
  .addit-menu.fleft
    %a{:href => "#{admin_jobs_path}"}
      %h2.actual-h2 Jobs
.row
  .col-md-12
    .tabs-vertical-env
      %ul.nav.tabs-vertical
        / available classes "right-aligned"
        %li.active
          %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#v-job"} Job
        -#%li
        -#  %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#v-recurrence"} Recurring
        %li
          %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#v-messages"} Cost Items
        %li
          %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#v-settings"} Files & Notes
      .tab-content
        #v-job.tab-pane.active
          = render 'backend/admin/jobs/partials/job_tab'
        -##v-recurrence.tab-pane
          -#= render 'backend/admin/jobs/partials/recurrence_tab'
        #v-messages.tab-pane
          %p When be draw drew ye. Defective in do recommend suffering. House it seven in spoil tiled court. Sister others marked fat missed did out use. Alteration possession dispatched collecting instrument travelling he or on. Snug give made at spot or late that mr.
        #v-settings.tab-pane
          %p Luckily friends do ashamed to do suppose. Tried meant mr smile so. Exquisite behaviour as to middleton perfectly. Chicken no wishing waiting am. Say concerns dwelling graceful six humoured. Whether mr up savings talking an. Active mutual nor father mother exeter change six did all.