= form_for([:admin ,customer ] , remote: true, html: {class: 'ajax' ,role: :form, 'data-model': 'customer'}) do |form|
  .modal-body
    = render 'backend/admin/customers/partials/fields' , f: form
  .modal-footer
    = form.button "Submit", class: "btn btn-large btn-danger", "data-disable-with" => "Submitting.."
    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close