%hr/
%ol.breadcrumb.bc-3
  %li
    %a{:href => "index.html"}
      %i.fa-home>
      Home
  %li.active
    %a{:href => "extra-icons.html"} Customers
.row
  .col-md-9.col-sm-7
    %h2 Customers
  .col-md-3.col-sm-5
    %form.search-form-full{:method => "get", :role => "form"}
      .form-group
        %input#search-input.form-control{:name => "s", :placeholder => "Search...", :type => "text"}/
        %i.entypo-search
/ Member Entries
/ Single Member