/*

*= require bootstrap
*= require custom
*= require entypo
*= require cafe
*= require jquery-ui-1.10.3.custom.min
*= require neon-core
*= require neon-forms
*= require neon-theme
*= require jquery-jvectormap-1.2.2
*= require rickshaw
*= require fullcalendar-2/fullcalendar.min
*= require daterangepicker
*= require bootstrap-datetimepicker

 */
.fc-widget-header , .fc-list-heading > .fc-widget-header {
  color: #FFF !important;
  background-color: #333 !important;
  border-color: #222 !important;
}

.fc-list-heading > .fc-widget-header {
  padding: 6px 15px 6px 15px;
}