.calendar-env
  #calendar
    / Calendar Body
    -#.calendar-body
    #calendar
    / Sidebar
    -#.calendar-sidebar
    / new task form
    -#.calendar-sidebar-row
      %form#add_event_form{:role => "form"}
        .input-group.minimal
          %input.form-control{:placeholder => "Add event...", :type => "text"}/
          .input-group-addon
            %i.entypo-pencil
    / Events List
    -#%ul#draggable_events.events-list
      %li
        %p Drag Events to Calendar Dates
      %li
        %a.color-blue{"data-event-class" => "color-blue", :href => "#"} Job
      %li
        %a.color-orange{"data-event-class" => "color-orange", :href => "#"} Event
      %li
        %a.color-primary{"data-event-class" => "color-primary", :href => "#"} Meeting
  / Modal 4 (Confirm)
#modal-4.modal.fade{"data-backdrop" => "static"}
  .modal-dialog
    .modal-content
      .modal-header
        %h2.modal-title Change Job date?
      .modal-body
        Change the date and time to only this job, or this and all future jobs?
        %br
        %br
        %button.btn.btn-success#updateThisAndFutureChildern{:type => "button"} This and all future jobs
        %button.btn.btn-info#updateOnlyThisJob{:type => "button"} Only This Job


      .modal-footer
        %button.btn.btn-danger#cancelEvent{ :type => "button"} Cancel

