!!! 5
%html.no-js
  %head
    %meta{:charset => "”utf-8″"}/
    %meta{:content => "”IE=edge”", "http-equiv" => "”X-UA-Compatible”"}/
    %meta{:content => "”width=device-width,", "initial-scale" => "1″", :name => "”viewport”"}/
    %title Invoices
    = stylesheet_link_tag wicked_pdf_asset_base64('backend')
    = wicked_pdf_javascript_include_tag 'backend'
  %body.page-body.page-fade
    .page-container
      .main-content
        = yield